.table-action-icon-group {
    width: 100%;
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: center;
}


.form-error{
	color: red;
}

.error{
	color: red;
}
body{
	background: #fff;
	color: #1e1000;
    font-family: "Poppins", sans-serif;

}
/* theme style override*/
body.theme--red .menu-left__item--active > a, body.theme--red .menu-left__item:hover > a, body.theme--red .menu-left__item:active > a, body.theme--red .menu-left__item:focus > a{
	background: #e43134;
}
.utils__top-sidebar--bg{
	background:none;
	border-bottom: none;
  margin-bottom: 0;
  padding-top:10px;
  padding-bottom:0;
}
.footer__bottom{
	padding:15px 0;
      background-color: #ccc;
}
.footer{
	    background: #f0efe8;
}
.footer__company{
	padding: 0 15px;
}
@media (max-width: 767px){
.footer__company {
    margin-top: 0;
}
}
body.theme--red .menu-left__logo {
	background: #fff !important;
}
.toggle-btn-wrap{
	 background: #e43134;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 10px 5px 10px ;
}
.toggle-btn-wrap:hover{
	background:  #cc3923;

}
a.card.card--withShadow.paymentAccount {
    background: #f0efe8;
    border-radius: 14px 0;
      transition:1s ease;
}

a.card.card--withShadow.paymentAccount:hover {
	box-shadow: none;
    border-radius: 0 14px;
    transition:1s ease;
}

.paymentAccount__icon i {

    color: #dc3a22;
}
/*tables override*/
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 30px;
}
.table thead {
  background-color: #dc3a22;
  color: #fff;
  font-size: 16px;
}
.table thead tr th {
  font-weight: 500;
  transition: all 600ms ease;
}
.table > tbody > tr {
  background-color: #f5f4f0;
}
.table > tbody > tr:nth-child(even) {
  background-color: #f0efe8;
}
.table > tbody > tr:hover {
  background-color: rgba(255, 217, 32, 0.5);
  transition: all 600ms ease;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 10px;
  line-height: 1.42857143;
  vertical-align: middle;
}

/*btn overrride */

.btn-sm{
      line-height: 0 !important;
    padding: 8px !important;
    border-radius: 4px !important;
}

.btn-rounded{
  border-radius: 4px !important;
}


.btn.btn-primary, .show > .btn.btn-primary {
    background-color: #DC3A22;
    border-color: #DC3A22;
}
.btn.btn-primary:hover, .show > .btn.btn-primary:hover{
background-color:#cc3923;
border-color:#cc3923;
}


.btn.btn-primary:hover, .btn.btn-primary:active, .show > .btn.btn-primary:hover, .show > .btn.btn-primary:active, .show > .btn.btn-primary:focus {
    background-color:#cc3923 !important;
    border-color:#cc3923 !important;
}

.btn.btn-primary:hover:active, .btn.btn-primary:focus, .btn.btn-primary.active, .show > .btn.btn-primary:hover:active, .show > .btn.btn-primary:focus, .show > .btn.btn-primary.active{
   background-color:#cc3923 !important;
    border-color:#cc3923 !important;
}


.btn.btn-danger, .show > .btn.btn-danger {
    background-color: #DC3A22;
    border-color: #DC3A22;
}
.btn.btn-danger:hover, .show > .btn.btn-danger:hover{
background-color:#cc3923;
border-color:#cc3923;
}


.btn.btn-danger:hover, .btn.btn-danger:active, .show > .btn.btn-danger:hover, .show > .btn.btn-danger:active, .show > .btn.btn-danger:focus {
    background-color:#cc3923 !important;
    border-color:#cc3923 !important;
}

.btn.btn-danger:hover:active, .btn.btn-danger:focus, .btn.btn-danger.active, .show > .btn.btn-danger:hover:active, .show > .btn.btn-danger:focus, .show > .btn.btn-danger.active{
	 background-color:#cc3923 !important;
    border-color:#cc3923 !important;
}


.pagination .page-item.active .page-link {
    background:#DC3A22;
    border-color:#DC3A22;
}

body.theme--red .menu-left__submenu--toggled.menu-left__item{
background-color: #cc3923;

}


.btn-group .btn:not(:last-child){
  margin-right: 5px;
}
.btn-green.btn-sm.btn{
  background-color: #00844a;
}
.btn-green.btn-sm.btn:focus,.btn-green.btn-sm.btn:hover,.btn-green.btn-sm.btn:active{
  background-color: #2b9868;
}
.btn-green i{
  color: #fff !important;
}
.btn-disabled.btn{
  opacity: 0.6 !important;
}


.paymentAccount__number {
    display: block;
    font-size: 16px;
    color: #4a4848;
    font-weight: 700;
}

/*login page */
.login__block__form{
      background: #f0efe8;
    border-radius: 14px 0;
    padding: 20px;
}
.footer__company span a{
  color: #e43134 !important;
}
.footer__company span a:hover{
  color: #fff!important;
}

.text-muted {
     color: #e43134 !important; 
}
.form-group input{
  height: 43px;
}

.form-control:focus {
    border-color: #e43134;
    box-shadow: none;
}
#nocpayment-formsubmit .row{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search-reset .form-group{
  margin-top: 25px !important;
}