/*loader css start*/

.page-loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index:2000;
    color: #fff;
    font-size: 60px;
    font-weight: bold;

}

.inner-loader{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
}

.inner-loader img{
    display: block;
    margin: 0 auto -40px auto;
    width: 130px;
}

.text-center {
    font-size: 16px;
    text-align: center !important;
    color: #e43134;
    margin-top: 45px;
}