/*  STYLES FOR "TOP-BAR" MODULE */
body {
    padding-top: 5rem;
}

.top-bar {
    position: fixed;
    z-index: 990;
    top: 0;
    left: 0;
    right: 0;
    min-height: 5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #ffffff;
    border-bottom: 1px solid #e4e9f0;
    padding-right: 1.53rem;
    color: #74708d;
}

.top-bar__logo {
    width: 15.38rem;
    height: 5rem;
    display: inline-block;
    padding: 1.07rem 1.38rem;
    margin-right: 1.53rem;
}

.top-bar__logo img {
    width: 70px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 79px;
}

@media (max-width: 991px) {
    .top-bar__logo {
        width: 11.53rem;
    }
}

.top-bar__avatar {
    width: 2.69rem;
    height: 2.69rem;
    background-color: #eef0f4;
    border-color: #d2d9e5;
    display: inline-block;
    overflow: hidden;
    -webkit-border-radius: 500px;
    border-radius: 50%;
}

.top-bar__avatar img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.top-bar__avatar-dropdown .dropdown-toggle {
    padding-right: 1.38rem;
    display: inline-block;
}

.top-bar__avatar-dropdown .dropdown-toggle:after {
    position: absolute;
    top: 50%;
    margin-top: -0.08rem;
    right: 0rem;
}

.top-bar__left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.top-bar__left .top-bar__item {
    margin-right: 2.3rem;
}

.top-bar__left .top-bar__item:last-child {
    margin-right: 0;
}

.top-bar__right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.top-bar__right .top-bar__item {
    margin-left: 2.3rem;
}

.top-bar__item {
    padding-top: 0.38rem;
}

@media (max-width: 1300px) {
    .top-bar__item--hiddenOn1300 {
        display: none;
    }
}

.top-bar__mini-chart {
    height: 2.3rem;
    line-height: 2.3rem;
}

.top-bar__mini-chart__inner {
    height: 80%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: sub;
    margin: 0 0.38rem;
}

.top-bar__mini-chart__inner i {
    display: inline-block;
    float: left;
    width: 4px;
    background: #0190fe;
    margin-right: 1px;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
}

.top-bar__menu-button {
    cursor: pointer;
    height: 2.3rem;
    padding-top: 0.3rem;
    color: #d2d9e5;
    font-size: 1.23rem;
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.top-bar__menu-button:hover {
    color: #b8beca;
}

.top-bar__search {
    border-bottom: 1px solid #e4e9f0;
    margin-top: 0.3rem;
    white-space: nowrap;
}

.top-bar__search input {
    border: none;
    position: relative;
    top: -1px;
    opacity: .6;
    width: 12.3rem;
}

.top-bar__search input:focus {
    opacity: 1;
}

.top-bar__search i {
    cursor: pointer;
    color: #d2d9e5;
    margin-right: 0.38rem;
}

.top-bar__search i:hover {
    color: #615d7c;
}

/*  NOTIFICATION BLOCK (TOP MENU) */
.top-bar__activity {
    width: 22.3rem;
    margin: -0.54rem 0;
    background: #ffffff;
}

.top-bar__activity__item {
    border-bottom: 1px solid #e4e9f0;
    padding: 0.76rem 0;
    position: relative;
}

.top-bar__activity__item:last-child {
    border-bottom: 0;
}

.top-bar__activity__item:hover {
    background: #eef0f4;
}

.top-bar__activity__item:hover .top-bar__activity__icon {
    background: #c0bdd0;
    color: #ffffff;
    border-color: #c0bdd0;
}

.top-bar__activity__icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 0.92rem;
    font-size: 1.23rem;
    width: 3.07rem;
    text-align: center;
    color: #d2d9e5;
    background: #f2f4f8;
    border-bottom: 1px solid #eef0f4;
}

.top-bar__activity__inner {
    margin-left: 3.84rem;
    padding-right: 1.15rem;
}

.top-bar__activity__inner label {
    font-size: 0.92rem;
}

.top-bar__activity__descr {
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
}

.top-bar__activity__title > span {
    font-size: 1rem;
    color: #d2d9e5;
}
.dropdown-menu{
    background-color: #e43134;
    border-color: #fff;
}
a.dropdown-item{
    color: #fff !important;
}
a.dropdown-item:hover{
    color: #000 !important;
}
.dropdown .dropdown-toggle:after {
    color: #e43134;
    }